:root {
	--primary: #ff5f4a;
	--secondary: #fef1eb;
}

body {
	margin: 0px;
	font-family: 'Inter', Arial;
	height: 100%;
	width: 100%;
	background-color: var(--secondary);
	/* overflow: hidden; */
	flex-direction: column;
	justify-content: space-between;
}

body::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

a {
	text-decoration: none;
	color: white;
}
.flex-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

#banner,
#bottom-banner {
	width: 100%;
	height: 40px;
	padding: 5px 0 5px 0;
	background-color: var(--primary);
	color: var(--secondary);
}

#header {
	height: 650px;
	flex-direction: column;
}

#homemade-logo {
	height: 80%;
	width: 80%;
}

#sticker {
	padding: 20px 0px 20px 0px;
	height: 80%;
	width: 15%;
}

#homemade-logo img,
#sticker img {
	height: 100%;
	width: 100%;
}

#order-btn {
	margin-top: 20px;
	font-family: inherit;
	min-height: 60px;
	padding: 20px 35px 20px 35px;
	border-radius: 6px;
	background-color: var(--primary);
	color: var(--secondary);
	font-size: 20px;
	border: none;
	transition: ease-in-out 0.2s;
}

#order-btn:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

button:hover {
	cursor: pointer;
}

#footer {
	padding: 0px 30px 30px 30px;
	flex-direction: column;
	width: 100%;
}

#contact {
	padding: 20px;
	width: 30%;
	justify-content: space-evenly;
}

.contact-btn {
	font-size: 16px;
	font-family: inherit;
	padding: 9px 15px 9px 15px;
	min-width: 120px;
	color: var(--primary);
	border: 1.5px solid var(--primary);
	background-color: var(--secondary);
	border-radius: 20px;
	transition: ease-in-out 0.2s;
}

.contact-btn:hover {
	background-color: var(--primary);
	color: var(--secondary);
}

#social {
	padding: 20px;
	width: 30%;
	justify-content: space-evenly;
}

.social-btn {
	border-radius: 100%;
	width: 50px;
	height: 50px;
	background-color: inherit;
	border: 1px solid rgba(126, 130, 143, 0.3);
	transition: ease-in-out 0.2s;
}

#instagram-btn img,
#facebook-btn img {
	height: 60%;
}

.social-btn:hover {
	border: 1px solid black;
}

#email-icon {
	width: 20px;
	height: 20px;
}

#email {
	width: 250px;
	justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
	html {
		height: 100%;
	}
	body {
		min-height: 100%;
	}
	#banner,
	#bottom-banner {
		min-height: 40px;
	}
	#header {
		height: inherit;
	}
	#order-btn {
		margin: 20px;
		font-family: inherit;
		min-height: 60px;
		padding: 10px 20px 10px 20px;
		border-radius: 6px;
		background-color: var(--primary);
		color: var(--secondary);
		font-size: 16px;
		border: none;
	}
	#footer {
		padding: 0px;
	}
	#sticker {
		padding: 10px 0px 10px 0px;
		width: 50%;
	}
	#contact,
	#social {
		width: 80%;
	}
	.contact-btn {
		font-size: 14px;
		min-width: 100px;
	}
}
